<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="EntityFramework.zh-Hans" version="6.2.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="NPOI" version="2.3.0" targetFramework="net45" />
  <package id="Senparc.Weixin" version="4.22.2" targetFramework="net45" />
  <package id="Senparc.Weixin.QY" version="4.4.1" targetFramework="net45" />
  <package id="SharpZipLib" version="1.0.0" targetFramework="net45" />
  <package id="Unity" version="4.0.1" targetFramework="net45" />
</packages>